html {
  box-sizing: border-box;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
}

body {
	font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:"Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;*font-size:108%;line-height:100%;
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

#wrap {
	width: 90%;
	margin: 0 auto;
}

#head {
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	background: url(images/bg_head.png) bottom left repeat-x #106eb7;
	color: #fff;
	padding: 20px ;
}

#lead {
	padding: 20px 0 ;
}

h1 {
	padding-left: 25px;
	font-size: 100%;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

#content {
	padding: 0 20px;
	background: url(images/bg_content.png) left bottom no-repeat #ecf7fc;
	width: 90%;
	min-height: 490px;
	margin: 0 auto;
	font-size: 153.9%;
}

* html #content {
	height: 490px;
}

p {
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

dl {
	margin-bottom: 10px;
}
dt {
	border-left: 5px solid #106eb7;
	padding-left: 5px;
	margin-bottom: 5px;
}

dd {
	padding: 10px 0;
	margin-bottom: 0.5em;
}

.required {
	background-color: #BB1850;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	margin-left: 10px;
}

#foot {
	width: 90%;
	text-align: right;
}

th, td {
	border: 1px solid #999;
	padding: 3px;
}

th {
	background-color: #106eb7;
	color: #fff;
	font-weight: bold;
}

li {
	list-style: circle;
	margin-left: 20px;
	margin-bottom: 0.5em;
}

.paging {
	margin-top: 10px;
	text-align: center;
}
.paging li {
	display: inline;
	list-style: none;
}

.error {
	font-size: 90%;
	color: #BB1850;
}

#lead {
	margin-bottom: 1em;
}

.msg {
	clear: both;
	border-top: 1px solid #ccc;
	padding: 10px 0;
}
.msg img {
	float: left;
	margin-right: 5px;
}
.msg p {
	margin: 0;
}
.msg .day,
.msg .day a {
	font-size: 80%;
	color: #999;
}



.inc_header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.inc_header .header-logo a {
  color: #333;
}

.inc_header a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
  background-color: transparent;
}

.inc_header .header-nav-item a {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: .05em;
  color: #333;
}

.inc_header ul, li {
  list-style: none;
}

.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

input {
width: 90%;
}

textarea {
width: 90%;
}

#save {
	display: block;
}

.submit {
padding-bottom: 30px;
}